<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!--SpringMVC提供的前端控制器-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--手动设置springmvc配置文件的路径及名字，SpringMVC 会从类路径下去找 springmvc.xml，不再去默认位置 /WEB-INF/springmvc-servlet.xml 查找-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!--指定了Spring MVC配置文件的名字是：springmvc.xml，存放路径是类的根路径-->
            <param-value>classpath:springmvc.xml</param-value>
        </init-param>
        <!--为了提高用户的第一次访问效率，建议在web服务器启动时初始化前端控制器-->
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <!--
        /* 表示任何一个请求都交给 DispatcherServlet 来处理
        / 表示当请求不是 xx.jsp 文件的时候，DispatcherServlet 来负责处理本次请求
        jsp 本质就是 Servlet，因此如果请求是 jsp 的话，应该走它自己的 Servlet，而不应该走 DispatcherServlet
        -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--配置字符编码过滤器
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>com.cell.myFirstSpringMVC.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <!--字符编码过滤器-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <!--设置字符集-->
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <!--让请求体的编码方式强制使用上面的字符集-->
            <param-name>forceRequestEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <!--让响应体的编码方式强制使用上面的字符集-->
            <param-name>forceResponseEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--添加一个过滤器，这个是springmvc提前写好的，用来将POST转换成PUT/DELETE请求-->
    <filter>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>